<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário e Produto</title>
</head>

<body>
    {% for product in products %}
        <h2>{{ product.name }}</h2>
    {% endfor %}
    
</body>

</html>